<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col mt-5">
      <h1 class="user_index">~ Users ~</h1>
      <table class="table mt-3">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no-image.jpg", class: "rounded-circle"%></td>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <td><%= user.introduction %></td>
              <td><%= render 'relationships/follow', user: user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>