<div class="user-box">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-sm-12 mt-5"  id="follow-ajax">
        <h1 class="user_title">~ Users ~</h1>
        <%= render 'users/index', users: @users %>
      </div>
    </div>
  </div>
</div>