<div class="user-box">
  <div class="container">
    <div class="row d-flex justify-content-center user_index">
      <div class="col-7 mt-5">
        <h1 class="user_title">~ Users ~</h1>
        <%= render 'users/index', users: @users %>
      </div>
    </div>
  </div>
</div>