<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <h2><%= @user.name %></h2>
      <table id="chat_area" class="massage table">
        <%= render 'chats/chat_index', user: @user, chats: @chats %>
      </table>
      <div class="text-right chat_form">
        <%= render 'chats/form', chat: @chat %>
      </div>
    </div>
  </div>
</div>