<div class="chat-detail">
  <div class="container chat-container">
    <div class="row d-flex justify-content-center">
      <div class="col-8 chats-row">
        <h2 class="p-3 text-center">〜　<%= @user.name %><span class="text-size"> さんとのメッセージ</span>　〜</h2>
        <table class="table">
          <%= render 'chats/chat_index', user: @user, chats: @chats %>
        </table>
        <hr>
        <div class="text-right chat_form from-group">
          <%= render 'chats/form', chat: @chat %>
        </div>
      </div>
    </div>
  </div>
</div>