<div class="about-visual">
  <div class="about-text-box">
    <p class="about-title">
      〜 部屋から人生を豊かに 〜
    </p>
    <p class="about-text col-auto">
      このサイトは自分の部屋のインテリアを紹介したい！<br>
      他の人のインテリアを参考にしたい！<br>
      インテリアが好きな人達が集まって情報共有できるSNSサイトです。<br>
    </p>
  </div>
</div>
<div class="attention">
    <div class="attention-title">
      <p>〜 必ず読んでください 〜</p>
    </div>
    <div class="attention-list">
      <ul>
        <li>インテリアとは関係のない写真の投稿はしないようお願いします。</li>
        <li>他人を誹謗・中傷する、不快にするような投稿・コメントは行わないようお願いします。</li>
        <li>投稿された画像を、投稿者以外の方が外部へ無断で転載する際は必ず投稿者の許可を得るようお願いします。</li>
        <li>当サイトの利用により発生したトラブル等の責任を管理人は負いません。</li>
        <li>マイページの編集ボタンから自己紹介を設定でき、設定後マイページに表示されます。</li>
      </ul>
    </div>
  </div>