<div class="slide-box">
  <div class="main-text-box">
    <p class="top-text">
      Welcome<br>
      to<br>
      Interior Life
    </p>
    <p class="mt-5">
      <% unless user_signed_in? %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary mr-5 sign_in" %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary log_in" %>
      <% end %>
    </p>
    <div id="slide-wrapper">
      <div class="slide slide1"></div>
      <div class="slide slide2"></div>
      <div class="slide slide3"></div>
      <div class="slide slide4"></div>
    </div>
  </div>
</div>
