<div class="post-image-box">
  <div class="post-image-bg">
    <div class="card-list-container py-5 shadow-lg">
      <h3 class="keyword">「 <%= @keyword %> 」の検索結果</h3>
      <%= render 'post_images/index', post_images: @post_images %>
    </div>
  </div>
</div>