<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-left"><%= @keyword %>の検索結果</h3>
      <%= render 'post_images/index', post_images: @post_images %>
    </div>
  </div>
</div>