// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite-area {
  text-decoration: none;
  display: inline-block;

  & .heart-red {
    color: red;
  }

  & .heart-blue {
    color: blue;
  }
}

.favorite-count {
  text-decoration: none;
  color: black;

  & :hover {
    text-decoration: none;
  }
}
