// Place all the styles related to the post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-image {
  background-image: image-url('PF-image5');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.form-box {
  width: 700px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.6);
  test-align: center;
  padding: 50px 50px 0 50px;
}

.submit-btn {
  width: 300px;
  height: 50px;
  margin: 0 auto;
}

.new-post {
  font-family: 'Tangerine', cursive;
  font-size: 35px;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-image-box {
  background-color: #FFFFEF;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.comment-count {
  text-decoration: none;
  color: black;
}

.card {
  width: 65%;
}

.new-post-btn {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #A97443;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 100px;
  right: 70px;
  padding-top: 10px;

  & .plus-color {
    color: #5D310C;
  }
}

@media screen and (max-width:425px) {
  .card {
    width: 90%;
  }
  .form-box {
    height: 100%;
  }
}
