// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-box {
  background-color: #FFFFEF;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
}
.user_index {
  width: 100%;
  height: 800px;
}

.user_title {
  font-family: 'Kaushan Scrip', cursive;
  text-align: center;
}

.user-introduction {
  font-family: 'RocknRoll One', sans-serif;
  font-size: 18px;
}

.user-show {
  background-color: #FFFFEF;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.name-field {
  font-weight: bold;
  font-size: 20px;
  padding-left: 40px;
}

td {
  line-height: 3.5;
}

.font-color {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  &:hover{
    text-decoration: none;
    color: blue;
  }
}

.pagination {
  background-color: #FFFFEF;
  font-size: 20px;
  letter-spacing: 5px;
}

 @media screen and (max-width:425px) {
   .bg-image {
    background-image: image-url('PF-image7');
    background-size: cover;
   }

   .about-title {
     font-size: 20px;
     letter-spacing: 8px;
   }

   .about-text {
     font-size: 1rem;
     letter-spacing: 3px;
   }

   .attention {
     padding: 0;
   }

   .attention-title {
     font-size: 20px;
     margin: 0 auto;
     line-height: 2;
   }

   .form-inline {
    justify-content: center;
   }

   .search-field {
     display: flex;
   }

   .user_index {
     width: 100%;
     height: 700px;
   }
 }