<% if post_image.errors.any? %>
  <p class="text-danger pl-3 pt-3"><%= post_image.errors.count %>件のエラーが発生しました。</p>
  <% post_image.errors.full_messages.each do |message| %>
    <p class="text-danger pl-3 "><%= message %></p>
  <% end %>
<% end %>